/* Estilos para el input de búsqueda */
.form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para la tabla */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .table th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }
  

/* Estilos para el checkbox */
.form-check {
  margin: 0;
}

.form-check-input {
  margin-top: 0;
}

.form-check-input.checked {
  background-color: green;
}

.form-check-input.checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-color: white;
}